<div class="info">
    $if(author)$
        by $author$
    $endif$
</div>

<div class="post">
$body$
</div>

<div class="blurb">
  <p>
      I know this site is a bit of a disaster zone, but if you like my writing or think you could learn something useful from me, please <a href="http://haskellbook.com/">take a look at the book</a> I've been writing <a href="http://argumatronic.com/">with my coauthor Julie</a>. There's a free sample available too!
  </p>
</div>

<div class="footer">
  <p>
    Posted on $date$
  </p>
</div>
